<!doctype html>
<html lang="vi-VN">

<!-- Mirrored from datadesign.co.th/geomagic_cx/geomagic_control_x.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jul 2019 09:27:17 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Data Design Việt Nam, data design, data design vietnam, Scan3D,Scan 3D,3D scanning, 3D printting, Artec 3D, markforged, Cad/CAM, datadesign ">
    <meta name="author" content="Data Design Viet nam">
    <meta property="og:locale" content="vi_VN">
   
    <meta property="og:type" content="website"><!-- Main Page Title -->
    
    
    <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/icon/cropped-icon-180x180.png">
    <title>Geomagic Control X | Data Design VietNam Co.,Ltd</title>


    <link rel="stylesheet" href="content/css/vdo_background.css">
    <!--<link rel="stylesheet" href="css/styles-menu.css">
    <link rel="stylesheet" href="fontello-172baab5/css/fontello.css">-->

    <link rel="stylesheet" href="content/cssmenu/styles.css">
    <script src="/code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/Content/geomagic/jsmenu/script.js"></script>

    @if (ViewBag.Title != null)
    {
        <meta property="og:title" content="@ViewBag.Title"><!-- Main Page Title -->
    }
    else
    {
        <meta property="og:title" content="Mô hình 3d được hỗ trợ   "><!-- Main Page Title -->

    }

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description">
        <meta property="og:description" content="@ViewBag.Description">

    }
    else
    {
        <meta property="og:description" content="thiết kế geomagic x là một công cụ mô hình đảo ngược cho thiết kế 3d. Dựa trên dữ liệu quét 3d và mô hình đa giác hiện có, chúng tôi sẽ quảng bá quy trình thiết kế 3d mới bằng cách thêm lịch sử và tính năng thiết kế. Trong dữ liệu ghi chép "><!-- Main Page Title -->
        <meta name="description" content="thiết kế geomagic x là một công cụ mô hình đảo ngược cho thiết kế 3d. Dựa trên dữ liệu quét 3d và mô hình đa giác hiện có, chúng tôi sẽ quảng bá quy trình thiết kế 3d mới bằng cách thêm lịch sử và tính năng thiết kế. Trong dữ liệu ghi chép ">

    }
    @if (ViewBag.Image != null)
    {
        <meta property="og:image" content="@ViewBag.Image">
    }
    else
    {
        <meta property="og:image" content="https://datadesign.vn/Content/geomagic/2018032213572471.png"><!-- Main Page Title -->

    }
    @if (ViewBag.Url != null)
    {
        <meta property="og:url" content="@ViewBag.Url">
        <link rel="canonical" href="@ViewBag.Url">
    }
    else
    {
        <meta property="og:url" content="http://datadesign.vn/geomagic"><!-- Main Page Title -->
        <link rel="canonical" href="http://datadesign.vn/geomagic">
    }

    @RenderSection("scripts", required: true)
    @{
        var returnUrl = ViewBag.ReturnUrl;
    }
    <style type="text/css">

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
    </style>
</head>

<body>

    @Html.Action("HomeCommon", "Home")
    <div class="top_bar">
        <div class="logo">
            <div class="table-logo">
                <a href="/home"><img src="../images/logo/ddsthai.png" id="logo-size" alt="Data Design Viet Nam" /></a>

                <div class="title-top-right"><img src="../images/logo/201803221352409.png" id="logo-control-size" alt="201803221352409" /><br>Automated 3D measurement platform</div>
            </div>
        </div>
    </div>

    <div class="background-menu">
        <div id="cssmenu">
            <ul>
                <li class="button-home"><a href="/geomagiccx">Geomagic Control X</a></li>
                <li><a href="/geomagiccx/overview">@Resources._Overview</a></li>
                <li class="active"><a href="/geomagiccx/function">Specifications</a></li>
                @if (@Resources.Home == "Home")
                {
                    <li class="nav-item-1">
                        <a href="/set-culture?slug=vi&returnUrl=@returnUrl"><img src="~/Images/uploaded/flag/vietnam.png" title="Data Design Viet Nam" alt="Data Design Viet Nam"></a>

                    </li>
                }
                else
                {
                    <li class="nav-item-1">
                        <a href="/set-culture?slug=en&returnUrl=@returnUrl"><img src="~/Images/uploaded/flag/united-states.png" title="Data Design Viet Nam" alt="Data Design Viet Nam"></a>
                    </li>
                }

            </ul>
        </div>
    </div>

    @RenderBody()


    <!--start footer-->
    <div class="footer">
        Data Design VietNam Co., Ltd.<span style="margin-left: 15px; font-family: CordiaNew;">Copyright &#169; 2019 All Rights Reserved.</span>
    </div><!--end footer-->

</body>

<!-- Mirrored from datadesign.co.th/geomagic_cx/geomagic_control_x.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jul 2019 09:27:21 GMT -->
</html>
