
@{
    ViewBag.Title = "Artec Eva";
    ViewBag.Description = "Máy quét quang học 3D với cấu trúc này là lựa chọn lý tưởng để tạo các mô hình 3D nhanh. Với bề mặt và độ chính xác của các vật thể cỡ trung bình như Ngực người, bánh xe hợp kim hoặc hệ thống ống xả xe máy Có thể quét nhanh, chụp các phép đo chính xác với độ phân giải cao";
    ViewBag.Image = "https://datadesign.vn/Content/Artec3D/images/artec/Eva/artec-eva-en1.png";
    ViewBag.Url = "https://datadesign.vn/artecEva";
    Layout = "~/Views/Shared/_Artec3D.cshtml";
    HttpCookie cookie = Request.Cookies["_culture"];
}
@model Outsourcing.Data.Models.Product
@section scripts{
    <link rel="stylesheet" href="/Content/Artec3D/css/body-styles1.css">
    <link rel="stylesheet" href="/Content/Artec3D/css/artec-eva-styles.css">

    <link rel="stylesheet" href="/Content/Artec3D/cssmenu/styles.css">
    <link rel="stylesheet" href="/Content/worknc/css/reponsive_pc.css">
    <!-- Đánh dấu JSON-LD được tạo bởi Trình trợ giúp đánh dấu dữ liệu có cấu trúc của Google. -->
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Product",
        "name" : "Artec Eva",
        "image" : "https://datadesign.vn/Content/Artec3D/images/artec/Eva/artec-eva-en.png",
        "description" : "Affordable 3D scanner for professional results",
        "url" : "https://datadesign.vn/artecEva",
        "brand" : {
        "@@type" : "Brand",
        "name" : "Artec3D",
        "logo" : "https://datadesign.vn/Content/Artec3D/images/artec/3dPrintingartec3d-logo.png"
        }
        }
    </script>
}


@if (Model != null)
{
    @*if (@Resources.Home == "Home")
        {
            <li class="nav-item-1">
                <a href="/set-culture?slug=vi&returnUrl=arteceva"><img src="~/Images/uploaded/flag/vietnam.png" title="Data Design Viet Nam" alt="Data Design Viet Nam"></a>
            </li>
            @Html.Raw(Model.Content)
        }
        else
        {
            <li class="nav-item-1">
                <a href="/set-culture?slug=en&returnUrl=arteceva"><img src="~/Images/uploaded/flag/united-states.png" title="Data Design Viet Nam" alt="Data Design Viet Nam"></a>
            </li>
            @Html.Raw(Model.ContentEng)
        }*@
    if (cookie.Value == "vi")
    {
        @Html.Raw(Model.Content)
    }
    else
    {
        @Html.Raw(Model.ContentEng)
    }
}
